body{
	padding-top: 1%;
}
h6{
	background: #aaa;
}
button{
	outline: none;
}
#animal-info{
	margin-top:20px;	
}
.para{
	background: #eee;
	padding: 1%;
	margin: 1px;
	font-size: 90%;
	color: #555;
	cursor: pointer;
}
